body {
  background-image: url("./assets/backgroundimage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
.box{
  width: fit-content;
  height: fit-content;
    padding: 30px;
    border: 4px solid #ccc;
    margin-top: 200px;
    margin-left: 700px;
}
