$textsize: 20px;
$textcolor: red;
$fontstyle: italic;
$textcolor1: rgb(255, 0, 0);

.mytext{
    font-size:$textsize ;
}
.mycolor{
color: $textcolor;
}
.myfont{
 font-style: $fontstyle;
}
.mytext1{
    color: $textcolor1;
}
